# Dune, Testo workspaces
_build/

# Locally-installed dependencies
_opam/

# Claude local settings
.claude/settings.local.json

# Where I put reference material downloaded from the Web       
reference/
tmp/
